/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.logo {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

header {
    background-color: rgb(110, 91, 91);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.btn-order {
    background-color: rgb(70, 59, 59);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Hero Section */
#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:center;
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 2.5rem;
}

.hero-content {
    margin-top: 10px;
    align-items: center;
    padding: 20px;
}

.hero-image {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.btn-order {
    display: inline-block;
    background-color:rgb(70, 59, 59);
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Products Section */
#products {
    padding: 40px 0 0 40px;
    text-align: center;
}

.productcolor {
    background-color: rgb(243, 232, 219);
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.product {
    text-align: center;
    max-width: 300px;
    margin: 20px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Testimonials Section */
#testimonials {
   padding: 40px;
   text-align: center;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testimonial {
    margin: 20px;
    max-width: 300px;
}

.testimonial img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

/* Contact Section */
#contact {
    padding: 40px;
    text-align: center;
}

form input,
form textarea {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid#ccc;
}

.btn-primary {
    background-color: rgb(70, 59, 59);
    color: white;
    display: inline-block;
    padding: 10px 20px;
    height: auto;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer p {
    margin: 10px 0;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a img {
    width: 30px;
    margin: 0 10px;
}